/* google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Indie+Flower&family=Dancing+Script&family=Raleway&display=swap');

/* general */
html {
    font-size: 62.5%;
}
* {
    border: none;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
body {
    background-color: #E4DAE7;
    font-family: "Raleway", "Trebuchet MS", sans-serif;
}
li {
    list-style-type: none;
}
p, h1, h2, h3, span {
    cursor: default;
}

/* header start */
header {
    color: #DB8784;
    font-size: 1.7rem;
    text-align: center;
    position: -webkit-sticky;
    position: sticky;
    top: -6.6rem;
    z-index: 10;
    /* this is a quick workaround to deal with galaxy fold single screen width, I am aware it cuts off a small section either side but appears OK */
    overflow: hidden;
}
/* pink section */
#header-pink {
    background-color: #ECC2C0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 .75em;
}
header i {
    width: 4rem;
    font-size: 1.5em;
}
h1 {
    color: #7F3946;
    font-family: "Caveat", cursive;
    text-transform: capitalize;
    text-decoration: underline;
    letter-spacing: .03em;
    font-size: 1.9em;
}
header h2 {
    color: #603F83;
    font-family: "Dancing Script", cursive;
    font-size: 1.2em;
    margin-top: -.25em;
    margin-bottom: .25em;
    letter-spacing: .1em;
}
#header-image {
    background: url(../images/otter-yawn.jpg) no-repeat center center;
    background-size: 150%;
    height: 1.75em;
    width: 1.75em;
    border: .25rem solid #DB8784;
    border-radius: 1em;
}
/* end of pink section */
/* nav section */
nav {
    background-color: #E4DAE7;
    font-family: "Indie Flower", cursive;
    color: #603F83;
    padding: 0 .5em;
}
nav ul {
    display: flex;
    justify-content: space-around;
}
nav li {
    display: inline-block;
    padding: 0 .3em .1em;
    font-size: 1.2em;
    border: .1em solid #CEBBC9;
    flex: 1 1 25%;
    border-top: 0;
    margin: 0 .1em;
}
/* active tab coloring */
.active {
    background-color: #ECC2C0;
    color: #3B2650;
}
/* hover coloring */
nav li:hover:not(.active) {
    background-color: #CEBBC9;
    font-weight: 600;
    color: #3B2650;
}
nav a {
    display: block;
    width: calc(100% + .8em);
    position: relative;
    left: -.4em;
    height: calc(100% + .2em);
}
/* end of nav section */
/* end of header */

/* start of home page main */
.home>section {
    height: 46rem;
    position: relative;
}
.desktop-home-image {
    visibility: hidden;
    display: none;
}
.top img:first-of-type {
    margin-top: max(calc(34vh - 18rem), 1rem);
    width: min(100%, 60rem);
    margin-left: calc(50% - min(50%, 30rem));
}
#overlay-text-container {
    background-color:#D2C1D688;
    font-size: 4rem;
    text-align: center;
    width: 85%;
    margin: 0 auto;
    position: relative;
    top: -11.5rem;
    border-radius: .8rem;
    color: #9B4655;
    text-shadow: .1em .1em .15em #D2C1C6, -.1em -.1em .15em #D2C1C6;
    text-transform: capitalize;
    max-width: 40rem;
    font-family: "caveat", cursive, sans-serif;
    font-weight: 700;
    padding: .2em .4em .4em;
    letter-spacing: .025em;
    box-sizing: border-box;
}
.home h2 {
    font-size: 4rem;
    padding-bottom: 1rem;
}
#overlay-text-container p:last-of-type {
    font-family: "Dancing Script", cursive;
    font-size: .625em;
    color: #6E333D;
    font-weight: 600;
    letter-spacing: initial;
}
/* end of home page main */

/* start of footer */
footer {
    width: 100%;
    background-color: #ECC2C0;
    font-size: 1rem;
    color: #9875BD;
    text-align: right;
}
footer span {
    padding-right: .5rem;
}
footer span i {
    padding: 0 .1rem;
}
footer.home-page-sticky {
    position: fixed;
    bottom: 0;
    z-index: 100;
}
footer ul {
    font-size: 2.5em;
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: .4em 1em 0;
    box-sizing: border-box;
    color: #603F83;
}
footer li:hover {
    color: #3B2650;
    transform: scale(1.3);
}
/* end of footer */

/* start of about page main */
.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 4rem 2.2rem 3rem;
    min-height: calc(100vh - 16.4rem);
    box-sizing: border-box;
}
.about img {
    width: 20rem;
}
.about .image-container {
    margin-bottom: 3.5rem;
    height: 20rem;
    overflow: hidden;
    border-radius: 3.5rem;
}
.about p {
    font-size: 2rem;
    color: #3B2650;
    letter-spacing: .2rem;
    padding-bottom: 1.6rem;
}
.about a {
    padding-top: .8rem;
    font-size: 1.6rem;
    text-decoration: underline;
    color: #603F83;
}
.about a:hover {
    font-size: 2rem;
}
/* end of about page main */

/* start of gallery select page */
.gallery-select {
    padding: 2rem 3.5rem;
    min-height: calc(100vh - 18.7rem);
}
.gallery-select .container {
    height: 20rem;
    margin: 2rem 0;
    background-color: #ECC2C0;
    padding: 2rem;
}
.gallery-select .image {
    height: 100%;
    background-color: #ECC2C0;
    background-repeat: no-repeat;
}
.urban .image {
    background-image: url(../images/fox.jpg);
    background-position: -4rem -2rem;
}
.birds .image {
    background: url(../images/birds/house-sparrow.jpg) center center no-repeat;
    background-size: auto 100%;
}
.big-cats .image {
    background-image: url(../images/big-cat.jpg);
    background-position: -3rem 0;
}
.gallery-select p {
    position: relative;
    top: 8.5rem;
    text-align: center;
    font-size: 3rem;
    font-weight: 900;
    color: #3B2650;
    background-color: #E4DAE755;
    text-shadow: #E4DAE7 .2rem .2rem .5rem, #000 -.2rem .2rem .5rem;
    text-transform: capitalize;
    font-variant: small-caps;
    width: 15rem;
    left: calc(50% - 7.5rem);
    border-radius: .75rem;
    cursor: pointer;
}
/* end of gallery select */

/* gallery page */
h3 {
    font-size: 3rem;
    text-align: center;
    padding-top: 1rem;
    font-family:  "Caveat", cursive;
    text-transform: uppercase;
}
h3, #return {
    color: #3B2650;
}
#return {
    width: 100%;
    text-align: center;
    font-size: 1.8rem;
    padding: 1rem 0;
}
.gallery img {
    width: 100%;
    padding: 1rem 1.8rem 0;
    box-sizing: border-box;
}
/* end of gallery page */

/* start of contact page */
.contact {
    background: url(../images/sunset.jpg) no-repeat center, linear-gradient(#E4DAE788, #E4DAE744);
    background-blend-mode: lighten;
    background-size: auto 100%;
    font-size: 2.2rem;
    color: #3B2650;
    height: 72rem;
}
.contact p {
    text-align: center;
    padding: 3rem 4rem 0;
}
.contact span {
    position: relative;
    top: .5rem;
    left: .2rem;
}
.contact form {
    font-weight: 600;
    padding: 5rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact input {
    line-height: 2.8rem;
    font-size: 2rem;
    color: #603F83;
    margin-bottom: 2.8rem;
    padding-left: .5rem;
    box-sizing: border-box;
    letter-spacing: .1rem;
    border-radius: .3rem;
}
#single-line-inputs input {
    width: 66%;
}
textarea {
    resize: none;
}
.contact input[type=submit] {
    margin-bottom: 0;
    margin-top: 1rem;
    width: 45%;
    height: 3rem;
    letter-spacing: initial;
}
.label-input {
    display: flex;
    justify-content: space-around;
}
label:not([for=email]) {
    text-transform: capitalize;
}
label[for=text-box] {
    align-self: flex-start;
    margin-top: 1rem;
    margin-bottom: 1.2rem;
    margin-left: .8rem;
    text-align:start;
}
#text-box {
    padding: .75rem;
    box-sizing: border-box;
    width: 100%;
    height: 15rem;
    font-size: 2rem;
    color: #603F83;
    border-radius: .3rem;
    margin-bottom: 2.5rem;
}
input[type=submit] {
    box-sizing: border-box;
    color: #fff;
    background-color: #9875BD;
    cursor: pointer;
    border: 1px solid transparent;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -webkit-appearance: none !important;
}
input[type=submit]:hover {
    border-color :#603F83;
    color: #fff;
    background-color: #603F83;
}
input[type=submit]:focus {
    box-shadow: 0 0 0 .4rem #603F83;
}
/* end of contact page */

/* media queries */
/* portrait */
/* screen width>340px - increase header text size */
@media screen and (min-width: 340px) 
and (orientation: portrait) {
    /* all */
    header {
        font-size: 2rem;
        top: -7.6rem;
    }
    /* index.html */
    .home>section {
        /* height: calc(100vh - 16.7rem); */
        position: relative;
        height: max(calc(100vw + 18rem), calc(100vh - 16.7rem));
        max-height: 79rem;
    }
    /* galleries.html */
    .gallery-select {
        padding: 1rem 3.5rem;
    }
    /* contact.html */
    .contact {
        height: max(74rem, calc(100vh - 25rem));
    }
    #text-box {
        height: 20rem;
    }
}
/* screen width>500px re-align hero image [small tablets] */
@media screen and (min-width: 500px) 
and (orientation: portrait) {
    /* all */
    body, nav {
        background-color: #DED5E0;
    }
    nav li {
        background-color: #E4DAE7;
    }
    /* index.html */
    #overlay-text-container {
        box-shadow: .5rem .5rem .8rem #533C4D66, -.5rem .5rem .8rem #533C4D66;
    }
    .top img:first-of-type {
        margin-top: 5.25rem;
    }
    .line img {
        border-radius: 4rem;
        box-shadow: .5rem .5rem 1rem #533C4D66, -.5rem -.5rem 1rem #533C4D66, -.5rem .5rem 1rem #533C4D66, .5rem -.5rem 1rem #533C4D66;
    }
    /* galleries.html */
    .gallery-select .container {
        margin: 4rem 0;
    }
    .gallery-select {
        padding-left: 7rem;
        padding-right: 7rem;
    }
    .gallery-select p {
        font-size: 4rem;
        width: 18.5rem;
        left: calc(50% - 9.25rem);
    }
    /* birds.html, g2, g3 */
    .gallery img {
        padding-top: 2rem;
    }
    h3 {
        font-size: 4rem;
        padding-top: 2.2rem;
    }
    #return {
        font-size: 2.7rem;
    }
    /* about.html */
    .about p {
        line-height: 2.7rem;
        padding: 0 3rem 1.6rem;
    }
    /* contact.html */
    .contact {
        padding: 3.5rem 4rem;
        background: url(../images/sunset.jpg) no-repeat center, linear-gradient(#DED5E088, #DED5E044);
    }
    .contact p {
        font-size: 2.5rem;
    }
}
/* screen width>700 move overlay-text downward below image [larger tablets] */
@media screen and (min-width: 700px) 
and (orientation: portrait) {
    /* index.html */
    #overlay-text-container {
        top: 2rem;
        max-width: 50rem;
    }
    header {
        font-size: 3rem;
        top: -11.5rem;
    }
    footer {
        font-size: 1.75rem;
    }
    .home>section {
        max-height: 88rem;
    }
    .top img:first-of-type {
        margin-top: max(2rem, calc(50vh - 51rem));
    }
    /* contact.html */
    .contact {
        padding: 3.5rem 8rem;
    }
    .contact p {
        font-size: 3rem;
    }
    .contact span {
        top: .6rem;
    }
    .contact form {
        padding-bottom: 12rem;
    }
    /* galleries.html */
    .gallery-select .container {
        height: 36rem;
        padding: 6rem;
    }
    .gallery-select p {
        font-size: 5rem;
        top: 17rem;
        width: 22rem;
        left: calc(50% - 11rem);
    }
    /* birds.html, g2, g3 */
    .gallery img {
        padding: 3.5rem 3rem 0;
    }
    h3 {
        font-size: 5rem;
    }
    #return {
        font-size: 3.2rem;
    }
    /* about.html */
    .about p {
        font-size: 3rem;
        line-height: 4rem;
        margin-bottom: 2rem;
    }
    .about p:last-of-type {
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .about a {
        font-size: 2.5rem;
        padding: .8rem 10rem 0;
    }
    .about a:first-of-type {
        align-self: flex-start;
        position: relative;
        top: 3.8rem;
    }
    .about a:nth-of-type(2) {
        align-self: flex-end;
    }
    .about a:last-of-type {
        position: relative;
        top: -3.8rem;
    }
}

/* landscape */
/* [small screens] landscape - overlay text moves to left,
header and footer re-size,
title text side by side */
@media screen and (orientation: landscape) {
    /* all */
    header {
        font-size: 1.6rem;
        top: -3.8rem
    }
    #title-container {
        display: flex;
    }
    #title-container * {
        padding: 0 1rem;
        margin: 0;
    }
    #title-container h2 {
        line-height: 3.6rem;
    }
    footer {
        font-size: .75rem;
    }
    footer ul {
        font-size: 3em;
        padding-top: 0;
        top: .2em;
        position: relative;
    }
    /* index.html */
    .home>section {
        display: flex;
        flex-direction: row-reverse;
        height: calc(100vh - 10rem);
        overflow: hidden;
    }
    #overlay-text-container {
        font-size: 3rem;
        text-align: center;
        margin: 0 4.2rem;
        padding: .5em .4em .5em;
        flex-basis: 50vw;
        height: 18rem;
        align-self: center;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .home h2 {
        font-size: 3rem;
        line-height: 3rem;
    }
    .top img:first-of-type {
        position: relative;
        top: -4rem;
    }
    /* birds.html, g2, g3 */
    #gallery-images {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #gallery-images img {
        height: calc(100vh - 3.7rem);
        width: auto;
        margin: 0 auto;
    }
    /* about.html */
    .about {
        padding: 3rem 4.2rem 3rem;
    }
    .about .image-container {
        width: 20rem;
        order: 2;
        margin: 2rem;
    }
    .about p {
        order: 3;
    }
    .about p:first-of-type {
        order: 1;
        padding-bottom: 0;
    }
    .about a {
        order: 4;
        padding: .8rem 4rem 0;
    }
    .about a:first-of-type {
        align-self: flex-start;
    }
    .about a:nth-last-of-type(2) {
        align-self: flex-end;
        margin-top: -2.7rem;
    }
    .about a:last-of-type {
        margin-top: -2.7rem;
    }
    /* contact.html */
    .contact {
        height: 67rem;
    }
    #single-line-inputs {
        width: 100%;
        max-width: 60rem;
    }
    #single-line-inputs input {
        width: 80%;
    }
}
/* [medium mobiles] landscape - header, footer and overlay-text size increase */
@media screen and (orientation: landscape)
and (min-height: 340px) {
    /* all */
    header {
        font-size: 2rem;
        top: -4.8rem;
    }
    #title-container h2 {
        line-height: 4.8rem;
    }
    footer {
        font-size: 1.15rem;
    }
    /* index.html */
    .home>section {
        height: calc(100vh - 14rem);
    }
    .top img:first-of-type {
        top: -7.5rem;
    }
    #overlay-text-container {
        font-size: 4.4rem;
        height: auto;
    }
    #overlay-text-container h2 {
        font-size: 3.8rem;
        line-height: 3.8rem;
    }
}
@media screen and (orientation: landscape)
and (min-height: 500px) {
    /* birds.html, g2, g3 */
    #gallery-images {
        margin-top: 1rem;
        display: block;
        padding: 0 2rem;
        column-count: 2;
        column-gap: 2rem;
        height: 100%;
    }
    #gallery-images img {
        width: 100%;
        height: auto;
        box-sizing: border-box;
        margin: 0 auto 1rem;
        padding: 0;
    }
}